.populares {
  padding: 0.3rem 0;
}

.populares__conteudo {
  display: flex;
  flex-wrap: wrap; /* Quando não couber conteúdo quebra linha e joga conteudo para baixo*/
  grid-area: conteudo; /* definio no style.css*/
  padding: 1rem 0;
}

.populares__card {
  background: #fdfdfd;
  display: grid;
  grid-template-areas:
    "card-imagem"
    "card-corpo";
  grid-template-columns: 100%;
  grid-template-rows: 173px auto;
  margin-right: 1rem;
  width: calc(20% - 1rem);
}

.populares__card___imagem {
  grid-area: card-imagem;
  height: 100%;
  width: 100%;
}

.populares__card___corpo {
  /* Essa classe também tempo cortamento como grid */
  display: grid;
  grid-area: card-corpo;
  grid-row-gap: 0.5rem;
  padding: 0.75rem;
  grid-template-areas:
    "card-cabecalho"
    "card-conteudo";
  grid-template-rows: 50px auto;
}
